{% extends "base.html" %}

{% block content %}

<h4>{{ product.title }}</h4>


<p><strong>Категория:</strong>
    <a href="{% url 'catalog:products' product.category.slug %}">
    {{ product.category.title }}
    </a>
</p>
<p><strong>Цена:</strong> {{ product.price }} --
<a href="{{ product.add_to_cart }}" type="button">Добавить в корзину.</a></p>
<p><img src="{{ product.product_pic.url }}" alt="No image" style="width:100px;height:110px;"></p>
<p><strong>Описание:</strong> {{ product.description }}</p>


{% endblock %}

